body {
    background-color: #204b20;
    color:#ffd0f6;
}
textPath {
    white-space: pre;i
}
p {
    margin-block-start: 0;
    padding-inline: 2ch;
    font-family: 'SERIFY';
    font-size: min(8vw,5vh);
}
a {
    color: inherit;
}
@font-face {
    font-family: 'CHONKY';
    src: url("BagelFatOne-Regular.ttf");
}
@font-face {
    font-family: 'SERIFY';
    src: url("InstrumentSerif-Regular.ttf");
}
#coolblob {
    margin: auto;
    display: block;
    width: min(90vw,50vh);
    height: min(90vw,50vh);
}
.namefont {
    font-size: 50px;
    fill: currentColor;
    font-family: 'CHONKY';
    /* font-weight: bold; */
}
.image-float-left {
    float: left;
    margin-right: 15px; /* Adds space between the image and the text */
    margin-bottom: 15px; /* Adds space below the image */
    width: 200px; /* Adjust the width as needed */
}
.blob-image-generated {
    float: left;
    width: 300px;
    height: auto;
    /* Example generated code: */
    clip-path: url("#myClip");
    /*clip-path: polygon(48% 0%, 100% 0%, 100% 58%, 88% 100%, 0% 100%, 0% 38%);
    /* <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
  <path fill="#FF0066" d="M40,-69.9C53.2,-61.7,66.2,-53.7,74.5,-42.1C82.8,-30.5,86.4,-15.3,85.1,-0.7C83.9,13.8,77.7,27.5,68.8,38.1C59.9,48.7,48.3,56.2,36.4,65.6C24.5,74.9,12.2,86.2,-1.8,89.3C-15.8,92.3,-31.6,87.2,-42.8,77.4C-54,67.6,-60.7,53.3,-69.1,39.6C-77.4,25.9,-87.5,13,-86.1,0.8C-84.8,-11.4,-72,-22.8,-63.9,-36.9C-55.8,-51,-52.3,-67.8,-42.4,-77.9C-32.6,-88.1,-16.3,-91.5,-1.4,-89C13.4,-86.5,26.8,-78.1,40,-69.9Z" transform="translate(100 100)" /> */
/* </svg> */
}
